node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

environment.js

.idea/

yarn.lock

.expo-shared/

package-lock.json

*.tgz

ExampleApp/

app.json

app.js

babel.config.js

environment.js.sample

screenshot.png

*.tgz
.env
.env*

image.png
image1.png
image2.png
