node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

environment.js

.idea/

yarn.lock

.expo-shared/

package-lock.json

react-native-multichannel-widget-*.*gz

ExampleApp/

app.json

app.js

babel.config.js

environment.js.sample

screenshot.png
